.shop-order-review-status {
	padding: 5px;
	border-radius: 10px;
	width: 35%;
	text-align: center;
}

.shop-order-review-meta {
	display: block;
    color: #999;
    font-size: inherit;
    margin: 3px 0;
}

.brrs-review-status {
	width: 75%;
    border-radius: 5px;
    text-align: center;
}

.brrs-notset, .brrs-notset a {
	background-color: brown;
	color: white;
}

.brrs-queued, .brrs-queued a {
	background-color: black;
	color: white;
}

.brrs-approved, .brrs-approved a {
	background-color: blue;
	color:  white;
}

.brrs-assigned, .brrs-assigned a {
	background-color: orange;
	color: white;
}

.brrs-inprogress, .brrs-inprogress a {
	background-color: #ede776;
	color: black;
}

.brrs-complete, .brrs-complete a {
	background-color: green;
	color: white;
}

.brrs-closed, .brrs-closed a {
	background-color: grey;
	color: white; 
}

.brrs-pulled, .brrs-pulled a {
	background-color: red;
	color: white;
}

.brrs-accepted, .brrs-accepted a {
	background-color: #9ff9a1;
	color: black;
}

/** MESSAGING STYLES ****/
.brrs-warning {
	 border: thin solid #ccc;
	 padding: 15px;
}

.brrs-warning .fa {
	 color: orange;
	 float: left;
	 margin-right: 10px;
}

/** Manuscript Embedding **/
#brrs-manuscript-content {
	width: 100%;
}

/** SINGLE REVIEW **/
	
.gravitypdf-download-link {
	background: none !important;
    color: red !important;
    text-decoration: underline !important;
}

#brrs-complete-action-report {
	margin-top: 10px;
}

#brrs-review-comment-instructions {
	margin-bottom: 10px;
	padding: 10px;
	background-color:#f4f4b0;
	color: black;
	border: thin solid #e5e079;	
}

#brrs-review-comment-instructions .fa-exclamation-triangle {
	color: orangered;
}

.brrs-action-instructions {
	padding: 10px;
	margin: 10px 0 10px 0;
	background-color: #94cff7;
	border: thin solid #5e93b5;	
}

.brrs-action-warning {
	padding: 10px;
	margin: 10px 0 10px 0;
	background-color: #e5c7d2;
	border: thin solid #ba98a4;
	text-align: center;
}

#brrs-acceptance-options h4 {
	margin-bottom: 10px;
}

.brrs-acceptance-option {
	border: thin solid #ccc;
	padding: 10px;
}

#brrs-single-review-accreditation-details {
	margin-top: 10px
}

#brrs-single-review-accreditation-details,
#brrs-single-review-accreditation-details td {
	border-spacing: 20px;
	border-collapse: collapse;
	border: none;
}

#brrs-accreditation-badge {
	float:right;
	margin-top: 5px;
	margin-right: 25px;
}

#brrs-accreditation-badge img {
	width: 125px;
}

#brrs-accreditation-instructions {
	margin-bottom:25px;
	border-left: thick #EDE776 solid;
	padding-left: 25px;
}

#brrs-accreditation-actions {
	margin-top: 15px;
}

button#brrs-review-action-accept {
	margin: 10px 10px 0 0;
    background-color: green !important;
}

.brrs-profile-link {
	color: red !important;
    text-decoration: underline;
    background-color: white !important;
}

.brrs-review-link {
	color: red !important;
    text-decoration: underline;
    background-color: white !important;
}

#brrs-single-review-breadcrumbs {
	margin: 15px;
}

#brrs-single-review-status-container {
    padding: 2px 2px 2px 25px;
    margin-top: 25px;
}

#brrs-single-review-meta {
	background-color: white;
	padding: 15px 0 15px 15px;
	color: black;
}

#brrs-single-review-meta table,
#brrs-single-review-meta table td  {
	border: none !important;
	width: auto;
}

#brrs-single-review-meta td.review-summary-label {
	font-weight: bold !important;
}

#brrs-single-review-meta-col1 {
	float: left;
	margin-right: 25px;
}

#brrs-single-review-actions {
   margin-bottom: 20px;
   text-align: right;
}

button.brrs-review-action {
	margin: 10px 0 0 20px;
    width: 130px;
}

#brrs-single-review-submitted-date {
	float: right;
}

/** UI Dialog Styles **/
.ui-dialog-titlebar-close {
	float: right;
    margin-right: -36px;
    height: 36px;
    padding: 1px;
    width: 36px;
}

.ui-dialog-buttonset button {
	margin-right: 15px;
}

/** Reviews Archive Table **/
#brrs-review-archives_wrapper {
	margin-top: 20px;
}

/** Validation **/
.brrs-spinner {
   position: absolute;
   left: 50%;
   top: 50%;
   height:30px;
   width:30px;
   margin:15px auto;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border-left:6px solid rgba(0,174,239,.15);
   border-right:6px solid rgba(0,174,239,.15);
   border-bottom:6px solid rgba(0,174,239,.15);
   border-top:6px solid rgba(0,174,239,.8);
   border-radius:100%;
}

#brrs-review-validate-message {
	margin: 10px 0 10px 0;
	width: 100%;
}

.brrs-validation {
	padding: 8px;
	color: white;
	font-size: 18px;
}

.brrs-validation-success {
	background-color: #86ce77;
}

.brrs-validation-fail {
	background-color: #c98462;
}

/** WOOCOMMERCE STYLES **/
.woocommerce-MyAccount-navigation {
	display:none !important;
	visibility:hidden !important;
}

.woocommerce-MyAccount-content {
	float:none !important;
	width: 100% !important;
}

/*** CHECKBOX  *******/
/* Customize the label (the container) */
.brrs-action-checkbox-label {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.brrs-action-checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.brrs-action-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.brrs-action-checkbox-labe:hover input ~ .brrs-action-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.brrs-action-checkbox-label input:checked ~ .brrs-action-checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.brrs-action-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.brrs-action-checkbox-label input:checked ~ .brrs-action-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.brrs-action-checkbox-label .brrs-action-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}